*, *::before, *::after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    text-decoration: none;
    display: block;
    color: #fff;
}
body{
    font-family: $font-family-base;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, span{
    font-family: $font-family-Noto;
    line-height: 1.4;
}
h1, h2, h3{
    font-weight: bold;
}
.bg-primary{
    background-color: $primary;
}
//
.text-primary{
    color: $primary;
}
.text-secondary{
    color: $secondary;
}
//
.fz-14{
    font-size: $fz-14;
}
.fz-16{
    font-size: $font-size-base;
}
.fz-20{
    font-size: $fz-20;
}
.fz-24{
    font-size: $fz-24;
}
.fz-32{
    font-size: $fz-32;
}
.fz-36{
    font-size: $fz-36;
}
.fz-42{
    font-size: $fz-42;
}
.fz-48{
    font-size: $fz-48;
}
.fz-64{
    font-size: $fz-64;
}