// color
$primary: #AA0601;
$secondary: #650300;
$tertiary: #FBF2F2;
$product-dark: #5F3E2D;
$product-light: #B75929;

// font family
$font-family-base: -apple-system, BlinkMacSystemFont, // Mac 
                    "Segoe UI", "Microsoft JhengHei", // 微軟
                    'Noto Sans TC', Roboto,
                    "Helvetica Neue", Arial,
                    sans-serif; // 無襯線體
$font-family-Noto: 'Noto Sans TC', sans-serif;

// font-size
$font-size-base: 16px;

$fz-14: $font-size-base * 0.875;
$fz-20: $font-size-base * 1.25;
$fz-24: $font-size-base * 1.5;
$fz-32: $font-size-base * 2;
$fz-36: $font-size-base * 2.25;
$fz-42: $font-size-base * 2.625;
$fz-48: $font-size-base * 3;
$fz-64: $font-size-base * 4;

