.footer-container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 48px 0 28.5px 0;
    .footer-menu{
        margin-bottom: 32px;
        ul:first-child li{
            padding-right: 48px;
        }
        ul:last-child li{
            padding-left: 32px;
        }
    }
    .footer-contact{
        border-bottom: 1px solid #fff;
        margin-bottom: 24px;
        li:last-child{
            padding-bottom: 22px;
        }
        .contact-phone, .contact-mail{
            position: relative;
            padding-bottom: 18px;
            font-size: 36px;
            a{
                position: absolute;
                left: 65px;
            }
        }
        .contact-phone img{
            width: 44px;
        }
        .contact-mail img{
            width: 48px;
        }
    }
    .footer-copyright{
        p{
            font-size: 16px;
            margin-left: 38px;
            color: #fff
        }
        li{
            margin-left: 62px;
        }
    }
}
@media (max-width: 992px){
    .footer-container{
        padding: 40px 39px;
        .footer-menu{
            ul:first-child li{
                padding-right: 40px;
            }
            .footer-icon li{
                padding-left: 32px;
                .footer-icon img{
                    width: 24px;
                }
            }
            img{
                width: 24px;
            }
        }
        .footer-contact{
            .contact-phone{
                img{
                    width: 24px;
                }
            }
            .contact-mail{
                img{
                    width: 32px;
                }
            }
            .contact-phone a, .contact-mail a{
                font-size: 20px;
                left: 45px;
            }
        }
    }
    .contact-phone a, .contact-mail a{
        font-size: 20px;
    }
    .footer-container .footer-copyright .footer-copyright-text a{
        display: none;
    }
    .footer-container .footer-copyright p{
        margin: 0;
    }
    .footer-container .footer-copyright li{
        margin-left: 24px;
    }
}
@media (max-width: 767px){
    .footer-container{
        padding: 24px 15px 21px 15px;
        .footer-menu{
            display: none;
        }
        .footer-contact{
            position: relative;
            margin-bottom: 18px;
            .contact-phone img, .contact-mail img{
                width: 20px;
            }
            .contact-phone a, .contact-mail a{
                font-size: 16px;
                left: 25px;
            }
            .mobile-only{
                display: flex;
                position: absolute;
                top: 0;
                right: 0;
                li{
                    margin-left: 24px;
                }
                img{
                    width: 24px;
                }
            }
        }
        .footer-copyright{
            flex-direction: column;
            .footer-copyright-text{
                flex-direction: row-reverse;
                a{
                    display: flex;
                }
                img{
                    width: 46px;
                    position: relative;
                    top: 60px;
                }
                p{
                    font-size: 14px;
                }
            }
            ul{
                flex-direction: column;
                align-items: flex-start;
                li{
                    margin-top: 8px;
                    margin-left: 0;
                }
            }
        }
    }
}