//blog breadcrumb
.blog-nav{
    @include mobile{
        li:not(:first-child){
            margin-left: 24px;
        }
    }
}
.article{
    padding: 8px 0 304px;
    @include pad{
        padding: 8px 0 104px;
    }
    @include mobile{
        padding: 8px 0 56px;
    }
}
.breadcrumb{
    font-weight: 700;
    margin-bottom: 17px;
    @include pad{
        margin-bottom: 8px;   
    }
    @include mobile{
        margin-bottom: 6px;
    }
    .fz-16{
        @include pad{
            font-size: 14px;   
        }
    }
    li{
        a{
            color: #000;
        }
        .breadcrumb-target{
            color: $primary;
        }
    }

    li + li{ //同階層影響到li後的li:before
        margin-left: 10px;
        &:before{
            content:'/';
            margin-right: 10px;
        }
        @include mobile{
            margin-left: 6px;  
            &:before{
                margin-right: 6px;
            }
        }
    }
    a{
        display: inline-block;
    }
}
.article-tags{
    li{
        font-size: 24px;
        font-weight: 700;
        margin-right: 16px;
        @include pad{
            font-size: 16px;
            margin-right: 8px;
        }
        @include mobile{
            font-size: 14px;
            margin-right: 4px;
            margin-bottom: 1px;
        }
        a{
            color: $primary;
        }
    }
}
.article-main{
    width: 75%;
    @include mobile{
        width: 100%;
    }
    .article-title{
        margin-bottom: 5px;
    }
    .fz-48{
        @include pad{
            font-size: 32px;
        }
        @include mobile{
            font-size: 20px;
            color: $secondary;
        }
    }
    .article-subtitle{
        font-size: 28px;
        @include pad{
            font-size: 16px;
        }
        @include mobile{
            font-size: 14px;
        }
    }
    .article-date{
        color: #555;
    }
    .fz-16{
        @include pad{
            font-size: 14px;
        }
    }
    .article-content{
        margin-top: 23px;
        @include mobile{
            margin-top: 19px;
        }
        img{
            margin-bottom: 24px;
            @include pad{
                margin-bottom: 16px;
            }
        }
        p{
            font-size: 20px;
            color: #0A0A0A;
            font-weight: 700;
            margin-bottom: 36px;
            @include pad{
                font-size: 16px;
                margin-bottom: 24px;
            }
        }
    }
    .article-footer{
        @include mobile{
            margin-bottom: 39px;
        }
        .share{
            border-bottom: 1px solid #707070;
            margin-bottom: 24px;
            padding-bottom: 16px;
            @include pad{
                margin-bottom: 16px;
            }
            @include mobile{
                margin-bottom: 8px;
            }
            .fz-20{
                color: #0A0A0A;
                font-weight: 700;
                @include pad{
                    font-size: 16px;
                }
            }
            img{
                margin-left: 19px;
                @include pad{
                    margin-left: 16px;
                    @include size( 20px, 20px)
                }
            }
        }
        .other-link{
            a:first-child{
                @include mobile{
                    margin-bottom: 8px;
                }
            }
            a:first-child img{
                margin-right: 8px;
            }
            a:last-child img{
                order: 1;
                margin-left: 8px;
                @include mobile{
                    order: 0;
                    margin-left: 0;
                    margin-right: 8px;
                }
            }
            img{
                @include pad{
                    @include size( 24px, 24px)
                }
                @include mobile{
                    @include size( 16px, 16px)
                }
            }
            p{
                font-size: 19px;
                color: #000;
                font-weight: 700;
                @include pad{
                    font-size: 16px;
                }
            }
        }
    }
}
.tags{
    width: 25%;
    margin-left: 30px;
    @include mobile{
        width: 100%;
        margin-left: 0;
    }
    img{
        @include pad{
            @include size( 24px, 24px)
        }
        @include mobile{
            @include size( 24px, 24px)
        }
    }
    h3{
        font-size: 28px;
        color: $primary;
        @include pad{
            font-size: 20px;
        }
    }
    li{
        font-size: 24px;
        margin-right: 24px;
        @include pad{
            font-size: 16px;
            margin-right: 18px;
        }
        @include pad{
            margin-right: 8px;
        }
    }
}