//blog navigation
.blog-nav{
    background-color: #650300;
    li:not(:first-child){
        margin-left: 48px;
    }
    .nav-blog_link{
        padding: 13px 0;
        font-size: 20px;
        @include pad{
            font-size: 16px;
        }
    }
    .search{
        margin-left: auto;
        &-input{
            width: 0;
            transition: all .5s;
        }
        &-input, &-button{
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
    .search:hover input, .search input:focus{
        width: 100px;
        border-radius: 50px;
        background-color: #fff;
        padding: 7px 10px;
    }
}
.blog{
    padding: 82px 0 156px;
    @include pad{
        padding: 40px 0 104px;
    }
    @include mobile{
        padding: 24px 0 56px;
    }
}
//blog post
.blog-item{
    margin-bottom: 60px;
    transition: all .5s;
    @include pad{
        margin-bottom: 30px;
    }
    @include mobile{
        flex-direction: column;
        align-items: center;
        margin-bottom: 26px;
    }
    &:last-child{
        margin-bottom: 39px;
    }
    &:hover{
        box-shadow: 5px 10px 10px -5px rgba(#000, .1);
        transform: translate(-3px, -5px);
    }
    &_cover{
        img{
            width: 100%;
        }
        @include pad{
            width: 50%;
        }
        @include mobile{
            width: 100%;
            margin-bottom: 8px;
        }
    }
    &_info{
        width: 445px;
        margin-left: 30px;
        @include pad{
            width: 50%;
        }
        @include mobile{
            width: 100%;
            margin-left: 0px;
        }
        .fz-32{
            @include pad{
                font-size: 20px;        
            }
            @include mobile{
                font-size: 16px;        
            }
        }
    }
    &_title{
        color: $secondary;
    }
    &_subtitle{
        margin-bottom: 24px;
        @include pad{
            font-size: 16px;
            margin-bottom: 16px;     
        }
        @include mobile{
            font-size: 14px;
            margin-bottom: 0px;     
        }
    }
    &_date{
        @include pad{
            font-size: 14px;        
        }
    }
    &_txt{
        margin-bottom: 19px;
        @include pad{
            font-size: 14px;        
        }
    }
    &_more{
        color: $secondary;
        font-weight: 700;
        &:hover{
            color: $primary;
            animation: move .8s infinite;
        }
    }
    &_more-s{
        margin-left: 10px;
        color: #555555;
        font-weight: 700;
        &:hover{
            color: $primary;
            animation: move .8s infinite;
        }
    }
}
@keyframes move{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-5px);
        color: $secondary;    
    }
    100%{
        transform: translateX(0px);
    }
}