.map{
    @include pad{
        flex-direction: column;
    }
    &-info{
        width: 445px;
        margin-right: 30px;
        @include pad{
            display: flex;
            align-items: center;
            width: 100%;
            margin-right: 0;
            margin-bottom: 32px;
        }
        @include mobile{
            display: block;
            width: 100%;
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
    &-img{
        overflow: hidden;
        @include pad{
            width: 50%;
            height: 164px;
            margin-right: 30px;
        }
        @include mobile{
            width: 100%;
            height: 164px;
            margin-right: 0;
        }
    }
    &-txt{
        @include pad{
            width: 50%;
        }
        @include pad{
            width: 100%;
        }
    }
    &-iframe{
        width: 635px;
        @include pad{
            width: 690px;
            height: 465px;
            margin: 0 auto;
        }
        @include pad{
            width: 345px;
            height: 227px;
        }
    }
}