//nav
.nav-products{
    .active{
        position: relative;
    }
    .active:after{
        content: '';
        position: absolute;
        height: 16px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $primary;
        @include pad{
            height: 8px;
        }
        @include mobile{
            height: 4px;
        }
    }
    &_item{
        width: 462px;
        border: 1px solid #DCDCDC;
        @include pad{
            width: 256px;
        }
        @include mobile{
            width: 125px;
        }
    }
    &_link{
        position: relative;
        font-size: 42px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #000;
        padding: 24px 0;
        @include pad{
            font-size: 28px;
            padding: 16px 0;
        }
        @include mobile{
            font-size: 14px;
            padding: 8px 0;
        }
        .nav-products_icon{
            margin-right: 8px;
            @include pad{
                width: 32px;
            }
            @include mobile{
                margin-right: 5px;
                width: 15px;
            }
        }
    }
    &_link:after{
        content: '';
        position: absolute;
        height: 16px;
        left: 50%;
        right: 50%;
        bottom: 0;
        background-color: #ffaeab;
        transition: all 0.3s;
        @include pad{
            height: 8px;
        }
        @include mobile{
            height: 4px;
        }
    }
    &_link:hover:after{
        left: 0;
        right: 0;
        background-color: $primary;
    }
}
//banner
.product-banner-img{
    width: calc(100%/2 - 15px);
    @include pad{
        width: 50%;
    }
}
//product-opt
.main-padding{
    margin: 88px 0 156px;
    @include pad{
        margin: 40px 0 104px;
    }
    @include mobile{
        margin: 30px 0 56px;
    }
}
.optical{
    .fz-42, .fz-32{
        text-align: center;
    }
    .fz-42{
        @include pad{
            font-size: 32px;
        }
        @include mobile{
            font-size: 20px;
        }
    }
    .fz-32{
        margin-bottom: 40px;
        @include pad{
            font-size: 24px;
            margin-bottom: 32px;
        }
        @include mobile{
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .product-list{
        margin: 0 -15px;
        .optical-item{
            width: 255px;
            margin: 0 15px 104px;
            @include pad{
                width: 330px;
                margin: 0 15px 72px;
            }
            @include mobile{
                width: 345px;
                margin: 0 15px 32px;
            }
        }
    }
}
////共用product-list
.product-item_link{
    position: relative;
    &:before{
        content: '查看更多';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(#000, 0.7);
        opacity: 0;
        transition: all .5s;
    }
    &:hover:before{
        opacity: 1;
    }
}
.product-item_img{
    height: 164px;
}
.product-item_name{
    color: #000;
    font-size: 24px;
    line-height: 1.5;
    flex-grow: 1;
    text-transform: uppercase;
}
.product-item_price{
    color: $primary;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
}
.product-item-dark, .product-item-light{
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 4px;
    @include mobile{
        width: 16px;
        height: 16px;
    }
}
.product-item-dark{
    background-color: #5F3E2D;
    margin-right: 8px;
    @include mobile{
        margin-right: 4px;
    }
}
.product-item-light{
    background-color: #B75929;
}
@media (max-width: 767px) {
    .product-item_name, .product-item_price{
        font-size: 16px;
    }
}
//pagination
.page-item{
    border: 1px solid #555555;
    border-right: 0;
    &:last-child{
        border-right: 1px solid #555555;
        background-color: #F2F2F2;
    }
    &_link{
        font-size: 18px;
        color: #555555;
        padding: 10px 15px;
        @include mobile{
            font-size: 12px;
            padding: 8px 10px;
        }
        &:hover{
            background-color: #000;
            color: #fff;
        }
    }
    .active{
        background-color: #000;
        color: #fff;
    }
}
